<%= link_to user_path(user) do %>
  <div class="user-card">
  <%= image_tag image_path(user.avatar.medium), class: 'avatar-clip' %>
  <h3><%= user.first_name %> <%= user.last_name %></h3>
  </div>
<% end %>