<div class="page-title">
  <h1>User Results</h1>
</div>
<div class="full-container">
  <div class="content-container">
    <% if @users %>
      <div class="users">
        <%= render @users %>
      </div>
    <% end %>
  </div>
</div>
<div class="spacer"></div>

