<%= javascript_tag do %>
  if ($('input').val())
    $(this).css({
    'font-size': '1em',
    'margin-top': '-60px'
  })
<% end %>

<div class="page-title">
  <h1>Sign up</h1>
</div>

<div class="full-container">
  <div class="content-container">
    <div class="particle-form">
      <div class="sign-in">
        <%= render 'particle' %>
      </div>
    </div>
  </div>
</div>
