<div class="page-title">
  <h1>Sign up</h1>
</div>

<div class="full-container">
  <div class="content-container">
    <div class="particle-form">
      <div class="sign-in">
        <%= render 'particle' %>
      </div>
    </div>
  </div>
</div>
