<div class="avatar">
  <%= image_tag image_path(@user.avatar.profile) %>
  <div class="update-photo"><p>Update Photo</p></div>
</div>

<div class="name">
  <h3><%= @user.first_name %> <%= @user.last_name %></h3>
</div>

<% unless @user == current_user || current_user.nil? %>
  <div class="friend-status">
    <%= render 'friend_status' %>
  </div>
<% end %>