<div class="modal">
  <input class="hidden modal-state" id="wave-modal" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="wave-modal"></div>
      <div class="modal-content"></div>
    </div>
  </div>
</div>