<div class="modal">
  <%= link_to "Test", user_test_path(current_user), remote: true, 'data-type' => :html %>
  <input class="hidden modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <div class="modal-content"></div>
    </div>
  </div>
</div>