<div class="home">
  <h1>Wave</h1>
  <p>Helping you get back into motion</p>
</div>
<div class="compatible">
  <div class="particle-logo">
    <h3>Compatible with</h3>
    <%= link_to 'https://particle.io' do %>
      <%= image_tag image_path('particle.png') %>
    <% end %>
    <p>Check out how to build a <%= link_to 'Wave Motion', 'https://www.hackster.io/jkim0120/wave' %></p>
  </div>
</div>

