<h1>Canvas</h1>

<div> X Coordinate: </div>
<div class="x"></div>

<div> Y Coordinate: </div>
<div class="y"></div>

<div class="canvas-wrapper">
  <canvas class="canvas"></canvas>
  <div class="pointer"></div>
</div>

<style>
  .canvas-wrapper {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
  }

  .pointer {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    z-index: 10;
    left: 0%;
    top: 0%;
  }
</style>

<%= javascript_tag do %>
  <%= render partial: 'canvas.js.erb' %>
<% end %>