<h1>Web Motion</h1>

<div class="error"></div>
<div class="login"><%= link_to "Login", login_path, remote: true %></div>
<div class="cores">
  <% if @cores %>
    <%= render 'core' %>
  <% end %>
</div>