<%= javascript_tag do %>
  $(document).on('ready page:load', function() {
    $('.field input').keydown(function() {
      if ($(this).val()) {
        $(this).next().css({
          'font-size': '0.8em',
          'bottom': '35px'
        })
      }
    })
  })
<% end %>

<% if current_user.demo %>
  <div class="demo">
    <h3>You are currently in demo</h3>
    <p>(use your mouse to click on targets)</p>
  </div>
  <div class="other">
    <p>- or -</p>
    <div class="exit submit">
      <%= link_to 'Exit Demo', activate_particle_user_path(current_user), class: 'button', method: :patch %>
    </div>
  </div>
<% else %>
  <%= render 'sign_in' %>
  <div class="other">
    <p>- or -</p>
    <div class="submit">
      <%= link_to 'Demo', activate_demo_user_path(current_user), class: 'button', method: :patch %>
    </div>
    <p>(for users without a Wave Motion)</p>
  </div>
<% end %>