<div class="page-title">
  <h1>My Wave Motions</h1>
  <% unless @registered_trackers.nil?  %>
    <h3>You currently have <%= pluralize(@registered_trackers, 'unregistered Wave Motion') %></h3>
  <% end %>
</div>
<div class="full-container">
  <div class="content-container">
    <% if @trackers %>
      <%= render 'trackers' %>
    <% else %>
      <%= render 'particle_form' %>
    <% end %>
  </div>
</div>
<div class="spacer"></div>

