<h1>My Wave Motions</h1>

<div class="trackers">
  <% if @trackers %>
    <%= render 'trackers' %>
  <% else %>
    <div>Sign in with Particle IO</div>
    <%= render 'particle_form' %>
  <% end %>
</div>