<div class="particle-sign-in-container">
  <div class="particle-sign-in">
    <p>Looks like you haven't registered a Wave Motion yet...</p>
    <p>Sign in with Particle</p>
    <%= render 'particle_form' %>
  </div>
</div>