<h1>Canvas</h1>

<%= render 'shared/canvas' %>

<%= javascript_tag do %>
  <%= render partial: 'shared/svg.js.erb' %>
  function init() {
    clear()
    trackerOffline = false

    var eventSource = new EventSource(`https://api.particle.io/v1/devices/${ gon.id }/events/?access_token=${ gon.token }`)
    eventSource.addEventListener('Coordinates', waveTracker, false)

    $(window).on('page:before-change', function() {
      eventSource.close()
    })
  }

  checkStatus(gon.id)
<% end %>