<%= Gon::Base.render_data %>
<div class="canvas-container">
  <svg class="canvas"></svg>
</div>

<%= javascript_tag do %>
  <%= render partial: 'shared/svg.js.erb' %>
  // function initTest() {
  //   trackerOffline = false
  //   var eventSource = new EventSource(`https://api.particle.io/v1/devices/${ gon.id }/events/?access_token=${ gon.token }`)
  //   clear()
  //   start('#b6f5cb', '#befed2')

  //   var waveTracker = function(e) {
  //     var rawData = JSON.parse(e.data),
  //         parsedData = JSON.parse(rawData.data),
  //         x = width * parsedData.X / 1000,
  //         y = height * parsedData.Y / 800,
  //         r = parsedData.Size * 7
  //     var minDistance = r + coordinates.r,
  //         newDistance = distance(x, y, coordinates.x, coordinates.y)

  //     if (pointer === undefined) pointer = makeCircle(x, y, r, '#ddd')
  //     pointer.transition().duration(500).attr('cx', x).attr('cy', y).attr('r', r).ease('cubic-in')
  //   }
  //   eventSource.addEventListener('Coordinates', waveTracker, false)
  // }
  checkStatus(gon.id, gon.token, false)
<% end %>