<%= Gon::Base.render_data %>
<div class="canvas-container">
  <svg class="canvas"></svg>
</div>

<%= javascript_tag do %>
  <%= render partial: 'shared/svg.js.erb' %>

  if (debug  || currentUser.demo) initTest()
  else checkStatus(gon.id, gon.token, false)
<% end %>