// Global Variables //
$dark-gray: #333 !default;
$light-gray: #eee !default;
$flat-green: #b6f5cb !default;
$flat-red: #ff8686 !default;

$em-base: 14px !default;
$base-font-size: 1em !default;
$base-font-color: $dark-gray !default;
$base-font-weight: 100 !default;
$base-line-height: 1.5em !default;
$base-font: museo-sans;
$base-border-color: $light-gray !default;
$base-border-radius: 3px !default;
$navigation-height: 4em;

// Global Fonts //

@include font-face("museo-sans", "MuseoSans/MuseoSans_500-webfont", 500, $asset-pipeline: true, $file-formats: eot woff ttf);
@include font-face("museo-sans", "MuseoSans/MuseoSans_100-webfont", 100, $asset-pipeline: true, $file-formats: eot woff ttf);

// Mixins //

@mixin material-borders {
  border: 0.5px solid $light-gray;
  box-shadow: 0px 1px 2px #aaa;
  border-radius: 1px;
}

@mixin rotate-forever {
  0%    { @include transform(rotate(0deg)); }
  100%  { @include transform(rotate(360deg)); }
}
@-webkit-keyframes rotate-forever { @include rotate-forever; }
   @-moz-keyframes rotate-forever { @include rotate-forever; }
        @keyframes rotate-forever { @include rotate-forever; }

@mixin wave {
  0% { @include transform(rotate(0deg)); }
  100% { @include transform(rotate(20deg)); }
}

@-webkit-keyframes wave { @include wave; }
   @-moz-keyframes wave { @include wave; }
        @keyframes wave { @include wave; }

// Global Styles //

body {
  -webkit-font-smoothing: subpixel-antialiased;
  color: $base-font-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
  font-family: $base-font;
  margin: 0;
}

p, h1, h3 {
  font-weight: $base-font-weight;
  margin: 0;
}

.main-content {
  top: 0;
  padding-top: $navigation-height;

  .content-container {
    @include outer-container;
    max-width: 100%;
    width: 100%;
    padding: 0 10% 0 10%;
    background-color: white;
    position: relative;
    z-index: 10;
  }

  .full-container {
    width: 100%;
    padding-top: 50px;
    background-color: $light-gray;

    .content-container {
      background-color: transparent;
    }
  }
}

.page-title {
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  height: 200px;
  border-bottom: 1px solid #eee;

  h3 {
    margin-top: 1.5em;
  }
}

.submit {
  margin-top: 10px;

  .button {
    @include span-columns(6);
    @include shift(3);
    border: none;
    box-shadow: 0px 1px 2px silver;
    font-family: museo-sans;
    font-weight: 100;
    font-size: 0.9em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #555;
    }
  }

  .delete:hover {
      background-color: $flat-red;
  }
}

.hidden {
  display: none;
}

.hoverable:hover {
  background-color: #fafafa;
  border-radius: $base-border-radius;
}

.profile {
  width: 32px;
  height: 32px;
}

.notifications {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.notified:after {
  width: 12px;
  height: 12px;
  top: -4px;
  right: 1px;
  position: absolute;
  background-color: tomato;
  border-radius: 50%;
  content: "";
  box-shadow: 0 2px 2px rgba(150, 150, 150, 0.5);
}

.fa {
  font-size: 1.3em;
}

.avatar-clip {
  border-radius: 100%;
}

.loading {
  @include animation-duration(1.5s);
  @include animation-iteration-count(infinite);
  @include animation-name(rotate-forever);
  @include animation-timing-function(linear);
  @include size(75px);
  @include position(absolute, 50% 0 0 50%);
  margin: -37.5px 0 0 -37.5px;
  border: 5px solid $light-gray;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

.wave {
  @include animation-duration(0.25s);
  @include animation-iteration-count(6);
  @include animation-name(wave);
  @include animation-timing-function(ease-in-out);
  @include animation-direction(alternate);
}

.flash {
  background-color: $flat-red;
  text-align: center;
  font-size: 1em;
  color: white;
  line-height: 3em;

  & > p {
    margin: 0;
  }
}

.spacer {
  width: 100%;
  min-height: 200px;
}

.footer {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  height: 5em;
  color: white;
  background-color: #333;
  font-size: 0.7em;

  .v-hand {
    font-size: 1.7em;
    color: $flat-red;
  }
}

// Parallax Styling //

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  .parallax-back {
    transform: translateZ(-1px) scale(2);
  }
}

// Canvas Styling //

.canvas-container {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(center);

  width: 100%;
  height: 100%;
}

.canvas {
  width: 100%;
  height: 100%;
}

.canvas-text {
  $canvas-text-start: #506c59;
  $canvas-text-asleep: #b3b3b3;

  font-family: 'quicksand';
  font-weight: 400;
  font-size: 2em; // add media query
  fill: $base-font-color;

  &.start {
    cursor: pointer;
    fill: $canvas-text-start;
  }

  &.asleep {
    fill: $canvas-text-asleep;
  }
}