// Global Variables //
$visual-grid: true;
$dark-gray: #333 !default;
$light-gray: #ddd !default;

$em-base: 14px !default;
$base-font-size: 1em !default;
$base-font-color: $dark-gray !default;
$base-font-weight: 300 !default;
$base-line-height: 1.5em !default;
$base-font: 'Source Sans Pro';
$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;

// Mixins //

@mixin material-borders {
  border: 0.5px solid #ddd;
  box-shadow: 0px 1px 2px #aaa;
  border-radius: 1px;
}

@mixin rotate-forever {
  0%    { @include transform(rotate(0deg)); }
  100%  { @include transform(rotate(360deg)); }
}
@-webkit-keyframes rotate-forever { @include rotate-forever; }
   @-moz-keyframes rotate-forever { @include rotate-forever; }
        @keyframes rotate-forever { @include rotate-forever; }

@mixin wave {
  0% { @include transform(rotate(0deg)); }
  100% { @include transform(rotate(20deg)); }
}

@-webkit-keyframes wave { @include wave; }
   @-moz-keyframes wave { @include wave; }
        @keyframes wave { @include wave; }

// Global Styles //

body {
  color: $base-font-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
  font-family: $base-font;
  margin: 0;
}

.hidden {
  display: none;
}

.profile {
  width: 32px;
  height: 32px;
}

.notifications {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.notified::after {
  width: 12px;
  height: 12px;
  top: -6px;
  right: 3px;
  position: absolute;
  background-color: tomato;
  border-radius: 50%;
  content: "";
  box-shadow: 0 2px 2px rgba(150, 150, 150, 0.5);
}

.fa {
  font-size: 1.3em;
  opacity: 0.9;
}

.avatar-clip {
  border-radius: 50%;
}

.loading {
  @include animation-duration(1.5s);
  @include animation-iteration-count(infinite);
  @include animation-name(rotate-forever);
  @include animation-timing-function(linear);
  @include size(75px);
  @include position(absolute, 50% 0 0 50%);
  margin: -37.5px 0 0 -37.5px;
  border: 5px solid #eee;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

.wave {
  @include animation-duration(0.25s);
  @include animation-iteration-count(6);
  @include animation-name(wave);
  @include animation-timing-function(ease-in-out);
  @include animation-direction(alternate);
}

$navigation-height: 5em;

header.navigation {
  $base-border-color: #ddd !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $navigation-padding: 1em;
  $navigation-background: white;
  $navigation-color: $dark-gray;
  $navigation-color-hover: #555;
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: transparentize(white, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $horizontal-bar-mode: $large-screen;

  @include box-sizing(border-box);
  @include user-select(none);
  width: 100%;
  height: $navigation-height;
  top: 0;
  position: fixed;
  z-index: 999;
  background-color: $navigation-background;

  .nav-item {
    @include clearfix;
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-wrap(nowrap);
    height: 100%;
    float: left;
    position: relative;

    .logo {
      @include transform-origin(50% 75%);
      height: 100%;

      img {
        height: 100%;
        padding: 1em;
      }
    }

    .tracker-status {
      width: 100px;
      font-size: 0.8em;
    }

    // Search bar

    .search-bar {
      $search-bar-border-color: #aaa;
      $search-bar-border: 1px solid $search-bar-border-color;

      width: 100%;
      max-width: 25em;

      .user-search {
        position: relative;
        width: 100%;

        .search-input {
          @include box-sizing(border-box);
          border-radius: $base-border-radius;
          border: $search-bar-border;
          color: $navigation-color;
          font-family: $base-font;
          font-size: 0.9em;
          font-weight: 300;
          margin: 0;
          padding: 0.5em 0.8em;
          width: 100%;

        }

        .search-submit {
          background: $navigation-search-background;
          border: none;
          bottom: 0.3em;
          left: auto;
          outline: none;
          margin: 4px 4px;
          position: absolute;
          right: 0.3em;
          top: 0.3em;
          height: 1.5em;
          width: 1.5em;
          opacity: 0.7;
        }
      }

      input {
        @include box-sizing(border-box);
        display: block;
        outline: none;
      }
    }

    .nav-link {
      position: relative;
    }
  }


  // Mobile view

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  nav {
    min-height: $navigation-height;
    z-index: 100;
  }

  ul.navigation-menu {
    // -webkit-transform-style: preserve-3d; // stop webkit flicker
    // clear: both;
    // display: inline;
    // margin: 0 auto;
    // overflow: visible;
    // padding: 0;
    // width: 100%;
    // z-index: 10;

    &.show {
      display: block;
    }
  }

  // The nav items

  ul li.nav-link {
    // background: transparent;
    display: inline;
    // line-height: $navigation-height;
    // text-decoration: none;
    // overflow: hidden;
    // padding-right: 0.8em;
    // text-align: right;
    // width: 100%;
    // z-index: 9999;

    a {
      color: $navigation-color;
      display: inline-block;
      text-decoration: none;
      padding-right: 1em;
    }

    &:focus, &:hover {
      color: $navigation-color-hover;
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }

  // Sub menus

  li.more.nav-link {
    padding-right: 0;
    margin-right: $navigation-submenu-padding;

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }
  }

  li.more {
    overflow: visible;
    position: relative;
    padding-right: 0.8em;

    a {
      padding-right: 0.8em;
    }

    > a {
      padding-right: 1.6em;
      position: relative;
      margin-right: $navigation-submenu-padding;
    }
  }

  ul.submenu {
    $tooltip-height: 0.7em;
    $tooltip-size: 1.5em;

    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 5em;
    width: 150px;
    text-align: center;
    border: 0.5px solid #ddd;
    box-shadow: 0px 1px 2px #aaa;
    border-radius: 5px;

    &#user {
      width: 160px;
      margin-left: -64px;
      top: 3.5em;

      &:before {
        @include position(absolute);
        height: $tooltip-height;
        left: 0;
        right: 0;
        top: -$tooltip-height;
        color: white;
        content: '▲';
        font-size: $tooltip-size;
        text-align: center;
        text-shadow: 0px 1px 2px #aaa;
        overflow: hidden;
      }
    }

    &#friend-requests:before {
        @include position(absolute);
        height: $tooltip-height;
        left: 0;
        top: -$tooltip-height;
        color: white;
        content: '▲';
        font-size: $tooltip-size;
        text-align: center;
        text-shadow: 0px 1px 2px #aaa;
        overflow: hidden;
    }

    &#wave-sessions:before {
        @include position(absolute);
        height: $tooltip-height;
        left: 0;
        top: -$tooltip-height;
        color: white;
        content: '▲';
        font-size: $tooltip-size;
        text-align: center;
        text-shadow: 0px 1px 2px #aaa;
        overflow: hidden;
    }

    .submenu {
      left: $navigation-submenu-width - 0.2em;
      top: 0;
    }

    li {
      display: block;
      // padding-right: 0;
      line-height: 2em;

      // &:first-child > a {
      //   border-top-left-radius: $base-border-radius;
      //   border-top-right-radius: $base-border-radius;
      // }

      // &:last-child > a {
      //   border-bottom-left-radius: $base-border-radius;
      //   border-bottom-right-radius: $base-border-radius;
      //   padding-bottom: 0.7em;
      // }

      // a {
      //   background-color: $navigation-background;
      //   padding-left: $navigation-submenu-padding;
      //   text-align: left;
      //   width: $navigation-submenu-width;
      // }
    }
  }
}

.main-content {
  padding-top: $navigation-height;
}

// Animation Keyframes //

@include keyframes(fadeIn) {
  from {
    @include transform(translateX(-20px));
    opacity: 0;
  }
  to {
    @include transform(translateX(0));
    opacity: 1;
  }
}

// Navigation //

.notify {
  @include animation(fadeIn 0.75s $ease-out-quart);
  opacity: 1;
}

.unnotify {
  @include animation(fadeIn 2s $ease-in-quart);
  @include animation-direction(reverse);
  opacity: 0;
}

// Canvas Styling with Modal //

.canvas-container {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(center);

  width: 100%;
  height: 100%;
}

.canvas {
  width: 100%;
  height: 100%;
}

.canvas-text {
  $canvas-text-start: #506c59;
  $canvas-text-asleep: #b3b3b3;

  font-family: 'quicksand';
  font-weight: 400;
  font-size: 2em; // add media query
  fill: $base-font-color;

  &.start {
    cursor: pointer;
    fill: $canvas-text-start;
  }

  &.asleep {
    fill: $canvas-text-asleep;
  }
}

.wave-test-start {
  cursor: pointer;
}

.modal {
  $base-border-color: #dcdcdc !default;
  $base-border-radius: 3px !default;
  $base-background-color: #fff !default;
  $action-color: #477dca !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $modal-padding: 3em;
  $modal-background: $base-background-color;
  $modal-close-color: $light-gray;

  .modal-state {
    display: none;
  }

  .modal-fade-screen { // overlay
    @include transition(opacity 0.25s ease);
    @include position(fixed, 0);
    background-color: rgba(#000, 0.8);
    opacity: 0;
    padding: 4em;
    text-align: left;
    visibility: hidden;
    z-index: 100000000;

    // @include media($medium-screen)
    // @include media($large-screen)
  }

  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
    @include size(1.5em);
    cursor: pointer;

    &:after,
    &:before {
      @include position(absolute, 3px 3px 0 50%);
      @include transform(rotate(45deg));
      @include size(0.15em 1.5em);
      background: $modal-close-color;
      content: '';
      display: block;
      margin: -3px 0 0 -1px;
    }

    &:hover:after,
    &:hover:before {
      background: darken($modal-close-color, 10%);
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }

  .modal-inner {
    @include transition(opacity 0.25s ease);
    background: $modal-background;
    border-radius: $base-border-radius;
    margin-top: 0;
    margin: auto;
    width: 100%;
    min-width: 550px;
    height: 100%;
    overflow: auto;
    position: relative;

    h1 {
      color: $base-font-color;
      margin-bottom: 0 0 0.6em 0;
      text-align: left;
      text-transform: capitalize;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
    }

    .modal-content {
      color: $base-font-color;
      height: 100%;
    }

    a.cta {
      color: $base-background-color;
      display: inline-block;
      margin-right: 0.5em;
      margin-top: 1em;

      &:last-child {
        padding: 0 2em;
      }
    }
  }

  .modal-state:checked + .modal-fade-screen {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-fade-screen .modal-inner {
    height: 100%
  }
}

.modal-open {
  overflow: hidden;
}
