.home {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
  @include background-image(url(/assets/home-banner.jpg));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  width: 100%;
  height: 70vh;
  color: white;

  h1 {
    margin: 0;
    font-size: 6em;
    font-weight: 100;
    line-height: 1em;
  }

  p {
    font-size: 2em;
  }
}
