.graph-container {
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  padding: 25px;
}

.graph {
  width: 100%;
  height: 100%;
  fill: #888;
  font-size: 0.8em;
  font-family: quicksand;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.x.axis path,
.x.axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.y.axis {
  & path {
    fill: none;
    stroke: none;
  }

  & line {
    fill: none;
    stroke: #eee;
    width: 100%;
  }
}