$avatar-size: 200px;
$avatar-radius: $avatar-size / 2;

.button {
  background-color: $dark-gray;
  border-radius: $base-border-radius;
  padding: 0 10px;
  line-height: 2em;
  color: white;
}

.user-info {
  padding-top: $avatar-radius + 25px;
}

.avatar {
  $avatar-padding: 5px;

  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  margin: 0;
  position: absolute;
  top: -$avatar-radius;
  left: 0;
  right: 0;

  .photo {
    position: relative;
    @include size($avatar-size + 2 * $avatar-padding);
    z-index: 10;

    .avatar-clip {
      padding: $avatar-padding;
      box-shadow: 0px 1px 2px silver;
      background-color: white;
    }

    .avatar-hover {
      @include transition(opacity 0.3s $ease-out-quart);
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);
      @include size($avatar-size);
      position: absolute;
      top: $avatar-padding;
      left: $avatar-padding;
      border-radius: 100%;
      background-color: black;
      opacity: 0;

      &:hover {
        opacity: 0.5;
      }

      .update-avatar {
        margin-top: 6em;
        z-index: 5;
        font-size: 0.9em;
        cursor: pointer;

        &:hover {
          background-color: #555;
        }
      }
    }
  }
}

.cover {
  position: relative;

  .photo {
    width: 100%;
    height: 300px;
    background-color: #555;
    background-size: cover;
    background-position: 50% 50%;
  }

  .cover-hover {
    @include transition(opacity 0.3s $ease-out-quart);
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 0;
    z-index: 5;

    &:hover {
      opacity: 0.5;
    }

    .update-cover {
      position: absolute;
      top: 10%;
      right: 10%;
      z-index: 5;
      cursor: pointer;

      &:hover {
        background-color: #555;
      }
    }
  }
}

.name {
  @include span-columns(4);
  @include shift(4);

  h1 {
    text-align: center;
    font-size: 3em;
    line-height: 2em;
  }
}

.friend-status {
  @include span-columns(4);
  @include shift(4);
  text-align: center;
  cursor: pointer;

  a {
    text-decoration: none;
  }

  .button {
    color: $base-font-color;
    background-color: white;
    box-shadow: 0px 1px 2px silver;

    &:hover {
      background-color: #fafafa;
    }

    .down-arrow {
      color: #ddd;
      font-size: 0.6em;
      margin-left: 5px;
    }
  }

  .add-friend {
    @include span-columns(2 of 4);
    @include shift(1);
  }

  .friends {
    @include span-columns(2 of 4);
  }

  .start-waving {
    @include span-columns(2 of 4);
    color: white;
    background-color: $dark-gray;

    &:hover {
      background-color: #555;
    }
  }

  .options {
    margin: 5px 0 0 0;
    padding: 0;
    box-shadow: 0px 1px 2px silver;
    border-radius: $base-border-radius;
    list-style: none;
    text-decoration: none;

    a {
      color: $base-font-color;
      line-height: 2em;
    }

    .accept:hover {
      background-color: $flat-green;
    }

    .delete:hover {
      background-color: $flat-red;
    }
  }
}

.user-progress {
  @include span-columns(12);
  margin: 2em 0;
  padding: 2em 0;
  border-top: 1px solid #eee;

  .progress {
    .graph-flexbox {
      border-bottom: 1px solid #eee;

      p {
        margin-top: 0;
      }
    }

    h3 {
      font-size: 1.5em;
    }

    p {
      margin-top: -5em;
    }
  }

  .recent-activities-container {
    margin-top: 2em;

    .stat-log {
      @include display(flex);
      @include align-items(center);
      @include justify-content(space-between);
      width: 100%;
      height: 150px;
      margin-top: 2em;

      .stat-container {
        @include display(flex);
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(center);
        width: 18%;
        height: 100%;
        padding: 10px;
        box-shadow: 0px 1px 2px silver;
        border-radius: $base-border-radius;

        &:hover {
          background-color: #fafafa;
        }

        .fa {
          margin-right: 0.5em;
        }

        p {
          font-size: 1em;
          line-height: 2em;
        }
      }
    }

    .centered {
      @include justify-content(center);
    }

    h3 {
      font-size: 1.5em;
    }
  }
}

.errors {
  .form-errors {
    padding: 0;
    list-style: none;

    .error-message {
      background-color: $flat-red;
      margin: 0.5em 0;
      padding: 0 10px;
      border-radius: $base-border-radius;
      box-shadow: 0px 1px 2px silver;
      line-height: 2em;
      color: white;
    }
  }
}

.sign-in {
  .remember-me {
    input {
      margin: 0;
    }

    label {
      position: relative !important;
      font-size: 0.8em !important;
    }
  }

  .submit {
    #toggle-form {
      width: 240px;
    }
  }
}

.users {
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);

  a {
    text-decoration: none;

    .user-card {
      @include transition(all 0.2s ease-in-out);
      @include display(flex);
      @include align-items(center);
      width: 400px;
      height: 100px;
      margin: 0 0 50px 0;
      padding: 25px;
      background-color: lighten($light-gray, 5);
      border-radius: $base-border-radius;
      box-shadow: 0px 1px 2px silver;

      h3 {
        display: inline;
        color: $base-font-color;
        margin-left: 25px;
      }

      &:hover {
        width: 410px;
        height: 105px;
        background-color: white;
      }
  }
  }
}

