<% if @user == current_user || current_user.friends?(@user) %>
  <div class="progress">
    <h3>Progress</h3>
    <p>Average Times: <%= @average_times %></p>
    <p>Accuracy: <%= @accuracy_rates %></p>
  </div>

  <div class="recent-activities-container">
    <h3>Recent Activities</h3>
    <%= render 'stats/recent_activities' %>
  </div>
<% end %>