<% if @user == current_user || current_user.friends?(@user) %>
  <div class="long-term">
    <h3>Progress</h3>
    <p>Average Times: <%= @average_times.first %></p>
    <p>Accuracy: <%= @accuracy_rates.first %></p>
  </div>

  <div class="recent-activities">
    <h3>Recent Activites</h3>
    <%= render 'stats/recent_activities' %>
  </div>
<% end %>