<% if @user == current_user || current_user.friends?(@user) %>
  <div class="progress">
    <h3>Progress</h3>

    <div class="graph-flexbox">
      <% if @user.stats.any? %>
        <div class="tooltip-container">
          <div class="tooltip"></div>
        </div>
        <div class="graph-container"></div>
      <% else %>
        <% if @user == current_user %>
          <div>
            <p>Looks like you haven't got any results yet...</p>
            <div class="modal">
              <% if current_user.trackers.any? %>
                <%= link_to 'Start waving now!', user_test_path(current_user), remote: true, 'data-type' => :html %>
              <% else %>
                <%= link_to 'Start waving now!', sign_in_with_particle_user_trackers_path(current_user), remote: true, 'data-type' => :html %>
              <% end %>
              <input class="hidden modal-state" id="modal-1" type="checkbox" />
              <div class="modal-fade-screen">
                <div class="modal-inner">
                  <div class="modal-close" for="modal-1"></div>
                  <div class="modal-content"></div>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <p> - No progress has been made - </p>
        <% end %>
      <% end %>
    </div>

    <%= javascript_tag do %>
      getData(window.location.pathname)
    <% end %>
  </div>

  <div class="recent-activities-container">
    <h3>Recent Activities</h3>
    <% if @user.recent_stats.any? %>
      <div class="stat-log">
        <%= render 'stats/recent_activities' %>
      </div>
    <% else %>
      <div class="stat-log centered">
        <p> - No recent activities - </p>
      </div>
    <% end %>
  </div>
<% end %>