<div class="canvas-container">
  <svg class="canvas"></svg>
</div>

<%= javascript_tag do %>
  <%= render partial: 'shared/svg.js.erb' %>
  wave = true

  if (debug || currentUser.demo) initWave()
  else checkStatus(currentUser.onlineTracker, currentUser.token, true)
<% end %>