<h1>Test</h1>

<%= render 'shared/canvas' %>

<%= javascript_tag do %>
  <%= render partial: 'shared/svg.js.erb' %>
  function init() {
    trackerOffline = false
    clear()
    materialBorder()
    start('#b6f5cb', '#befed2')


    $('.wave-test-start, .canvas-text').one('click', function() {
      clear()
      pulse(75, 700, 300, false, '#b6f5cb', '#befed2')
    })

    var eventSource = new EventSource(`https://api.particle.io/v1/devices/${ currentUser.onlineTracker }/events/?access_token=${ currentUser.token }`)
    eventSource.addEventListener('Coordinates', waveTracker, false)

    $(window).on('page:before-change', function() {
      eventSource.close()
    })
  }
  init()
  // checkStatus(currentUser.onlineTracker)
<% end %>