<h1>Test</h1>

<%= render 'shared/canvas' %>

<%= javascript_tag do %>
  <%= render partial: 'shared/svg.js.erb' %>
  function init() {
    canvas.selectAll('*').remove()
    trackerOffline = false

    var eventSource = new EventSource(`https://api.particle.io/v1/devices/${ currentUser.onlineTracker }/events/?access_token=${ currentUser.token }`)
    eventSource.addEventListener('Coordinates', waveTracker, false)

    $(window).on('page:before-change', function() {
      eventSource.close()
    })
  }

  if (currentUser.onlineTracker !== undefined) init()
  if (trackerOffline) trackerStatus(canvasWidth, canvasHeight)
<% end %>